@using HairSalon.Models

@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name):
  @Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.DateHired, new {@type="date"})
  @Html.TextBoxFor(model => model.DateHired, new {@type="date"})</p>

  @* @Html.DropDownListFor(m => m.StylistSpecialty,
  new SelectList(Enum.GetValues(typeof(Specialty))),
  "Select Specialty") *@

  @Html.DropDownList("StylistSpecialty",
new SelectList(Enum.GetValues(typeof(Specialty))),
"Select Specialty",
new { @class = "form-control" })
  <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>