@using HairSalon.Models

@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name, new{@type="string", required = "required"}):
  @Html.TextBoxFor(model => model.Name, new{@type="string", required = "required"})</p>

  <p>@Html.LabelFor(model => model.DateHired, new {@type="date", required = "required" })
  @Html.TextBoxFor(model => model.DateHired, new {@type="date", required = "required" })</p>

  <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>